$primary: #3884f7;
$secondary: #ced3e5;
$bgcolor: #fffbf2;
$white: #ffffff;
$inputBgColor: #f5f5f5;
//fontFamily
$mainFont: "Space Grotesk";
$secondaryFont: "DM Sans";

//break points (taken from default material theme)
$xsBreak: 0px;
$smBreak: 600px;
$mdBreak: 960px;
$lgBreak: 1280px;
$xlBreak: 1920px;

.buttonClass {
  margin-top: 2.5rem;
  display: flex;
  width: 26.063rem;
  justify-content: space-between;
  align-items: center;
}

.Toastify__toast {
  width: 17.938rem;
  // height: 2.75rem;
  border-radius: 5px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #eee;
  background-color: #323232;
  color: #fff;
}
.Toastify__close-button {
  color: #fff !important;
  opacity: 1;
  align-self: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text_root {
  color: red !important;
  & .label.Mui-focused {
    color: #323232 !important;
  }
  & .MuiInput-underline:before {
    border: unset !important;
  }
  & .MuiInput-underline:after {
    border: unset;
  }
  & .MuiInput-input {
    color: #323232 !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
    font-family: $mainFont;
    line-height: 1.5rem !important;
    background-color: #f5f5f5 !important;
    border-radius: 0.313rem !important;
    padding: 1rem !important;
    height: auto !important;
  }
  & .MuiInputLabel-outlined {
    border: unset;
    margin-left: 1rem;
    font-size: 0.875rem !important;
    transform: scale(1);
  }
  & .MuiInputLabel-standard {
    color: #323232 !important;
    font-size: 0.875rem !important;
    font-weight: normal !important;
  }
  & .MuiOutlinedInput-root {
    background: #f5f5f5 !important;
    margin-top: 1.5rem;
    & fieldset {
      border: unset !important;
    }
    & :hover fieldset {
      border: unset !important;
    }
    & .Mui-focused fieldset {
      border: unset !important;
    }
  }
  & .MuiFormHelperText-root {
    margin-left: 1rem;
    font-size: 1rem;
  }
}
.text_root:hover {
  border: unset;
}

.read_only {
  & .label.Mui-focused {
    color: #323232 !important;
  }
  & .MuiInput-underline:before {
    border: unset !important;
  }
  & .MuiInput-underline:after {
    border: unset;
  }

  & .MuiInput-input {
    color: #323232 !important;
    font-size: 1.25rem !important;
    font-weight: 300 !important;
    font-family: $mainFont;
    line-height: normal !important;
    background-color: #ffffff !important;
    border-radius: 0.313rem !important;
    padding: 4px 1rem !important;
  }
  & .MuiInputLabel-standard {
    color: #323232 !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    padding: 0rem !important;
    line-height: 1.71 !important;
  }
  & .MuiInputLabel-outlined {
    border: unset;
    margin-left: 1rem;
    font-size: 1rem !important;
    transform: scale(1.2);
    padding: 0rem !important;
    font-weight: 700 !important;
  }
  & .MuiOutlinedInput-root {
    background: #ffffff !important;
    margin-top: 1.5rem;
    & fieldset {
      border: unset !important;
    }
    & :hover fieldset {
      border: unset !important;
    }
    & .Mui-focused fieldset {
      border: unset !important;
    }
  }
  & .MuiFormHelperText-root {
    margin-left: 1rem !important;
    font-size: 1rem !important;
  }
  & .MuiFormLabel-asterisk {
    color: "red";
  }
  & .MuiInputLabel-asterisk {
    color: "red";
  }
}

.drop-down {
  & .label.Mui-focused {
    color: #ced3e5;
  }
  & .MuiInput-underline:before {
    border: unset !important;
  }
  & .MuiInput-underline:after {
    border: unset;
  }
  & .MuiInput-input {
    padding-left: 1rem !important;
  }
  & .MuiInputLabel-standard {
    border: unset !important;
    margin-left: 1rem !important;
    transform: scale(1);
    margin-bottom: 0.5rem;
    &:hover {
      border: unset;
    }
  }
  & .MuiFormHelperText-root {
    margin-left: 1rem;
    font-size: 1rem;
  }
  & .MuiFormLabel-asterisk {
    color: #d65353 !important;
  }
  & .MuiAutocomplete-inputRoot {
    padding-right: 0rem !important;
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
  background: #181818;
}

::-webkit-scrollbar-thumb {
  background: #aa9191;
}

.section {
  scroll-behavior: smooth;
}
